.page {
  max-width: 600px;
  height: 100lvh;
  margin: 0 auto;
  padding: var(--spacing-medium-24);
  box-sizing: border-box;
  font-family: var(--main-font-family);
  background-color: var(--color-main-gray);
  color: var(--color-main-black);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon-back {
  visibility: hidden; /* скрыли временно */
  width: 40px;
  height: 40px;
  background-image: url(./images/icons/icon_back.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header__title {
  visibility: hidden; /* скрыли временно */
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
}

.header__icon-exit {
  width: 40px;
  height: 40px;
  background-image: url(./images/icons/icon_exit.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* ---------------------------------------------- */

main {
  position: relative;
}

.onboarding {
  margin-block-start: 48px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large-64);
}

.onboarding__picture {
  align-self: center;
  width: clamp(11.5rem, -8.5rem + 100vw, 29rem);
}

.onboarding__description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large-32);
}

.onboarding__description h2 {
  text-align: center;
  font-size: var(--big-text-bold-font-size);
  font-weight: var(--big-text-bold-font-weight);
  line-height: var(--big-text-bold-line-height);
}

.onboarding__description p {
  text-align: center;
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  line-height: var(--paragraph-line-height);
}

.onboarding__slider {
  width: 72px;
  height: 8px;
  background-image: url(./images/elem1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-self: center;
}

/* main-button */
.main-button {
  position: sticky;
  bottom: 24px;
  display: flex;
  justify-content: center;
  padding: 28px;
  background-color: var(--color-main-black);
  border-radius: 4px;
  text-decoration: none;
}

.main-button__text {
  color: var(--color-main-gray);
  font-family: var(--main-font-family);
  font-size: var(--button-text-font-size);
  font-weight: var(--button-text-font-weight);
  line-height: var(--button-text-line-height);
}
/* ---------------------------------------------- */