/* animation */
@keyframes rotation {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  50% {
    transform: rotate3d(1, 1, 0.5, 44deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0);
  }
}

.rotation {
  animation: rotation 5s ease-in-out infinite;
}
/* ---------------------------------------------- */

html {
  height: 100lvh;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: var(--spacing-medium-24);
  box-sizing: border-box;
  font-family: var(--main-font-family);
  background-color: var(--color-main-gray);
  color: var(--color-main-black);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hidden {
  visibility: hidden; /* скрыли временно элемент */
}

.header__icon-back {
  width: 40px;
  height: 40px;
  background: url(./images/icons/icon_back.svg) no-repeat center / contain;
}

.header__title {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
}

.header__icon-exit {
  width: 40px;
  height: 40px;
  background: url(./images/icons/icon_exit.svg) no-repeat center / contain;
}

.header__icon-menu {
  width: 40px;
  height: 40px;
  background: url(./images/icons/icon_menu.svg) no-repeat center / contain;
}
/* ---------------------------------------------- */

.content {
  flex-grow: 1;
}

.content__onboarding {
  margin-block-start: var(--spacing-large-48);
}

.onboarding {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large-64);
}

.onboarding__picture {
  align-self: center;
  width: clamp(11.5rem, -8.5rem + 100vw, 29rem);
}

.onboarding__description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large-32);
}

.onboarding__description h2 {
  text-align: center;
  font-size: var(--big-text-bold-font-size);
  font-weight: var(--big-text-bold-font-weight);
  line-height: var(--big-text-bold-line-height);
}

.onboarding__description p {
  text-align: center;
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  line-height: var(--paragraph-line-height);
}

.onboarding__slider {
  width: 72px;
  height: var(--spacing-small-8);
  background: url(./images/elem1.svg) no-repeat center / contain;
  align-self: center;
}

.onboarding__slider_type_next {
  width: 72px;
  height: var(--spacing-small-8);
  background: url(./images/elem2.svg) no-repeat center / contain;
  align-self: center;
}

.onboarding__slider_type_finish {
  width: 72px;
  height: var(--spacing-small-8);
  background: url(./images/elem3.svg) no-repeat center / contain;
  align-self: center;
}

/* main-button */
.main-button {
  display: flex;
  justify-content: center;
  padding: 28px;
  background-color: var(--color-main-black);
  border-radius: 4px;
  text-decoration: none;
}

.main-button__text {
  color: var(--color-main-gray);
  font-size: var(--button-text-font-size);
  font-weight: var(--button-text-font-weight);
  line-height: var(--button-text-line-height);
}
/* ---------------------------------------------- */

/* card-item */
.card-item {
  padding: var(--spacing-medium-24);
  display: grid;
  grid-template-columns: min-content /*max-content*/ minmax(30%, 1fr) 1fr;
  gap: var(--spacing-medium-12);
  align-items: center;
  background-color: var(--color-shades-gray-100);
  border-radius: 4px;
}

.card-item__icon-arrow {
  width: var(--spacing-medium-16);
  height: var(--spacing-medium-16);
  background: url(./images/icons/icon_arrow-positive_up.svg) no-repeat center / contain;
  align-self: center;
}

.card-item__category {
  font-size: var(--small-text-font-size);
  font-weight: var(--small-text-font-weight);
  line-height: var(--small-text-line-height);
}

.card-item__total {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  font-variant-numeric: lining-nums proportional-nums;
  justify-self: end;
}

/* ---------------------------------------------- */
.content {
  margin: 0 auto 0;
}
.page-title {
  text-align: center;
}

.slider-container {
  display: flex;
  margin: 48px auto 0;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.next-button, .prev-button{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  object-fit: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.slider_item {
  text-align: center;
  font-size: var(--big-text-reg-font-size);
  font-weight: var(--big-text-reg-font-weight);
  line-height: var(--big-text-reg-line-height);
}

.mainInfo {
  display: flex;
  flex-direction: column;
  margin: 24px auto 0;
  align-items: center;
}

.mainInfo__total_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainInfo__total {
  font-family: var(--number-font-family);
  font-size: var(--number-font-size);
  font-weight: var(--number-font-weight);
  line-height: var(--number-line-height);
  letter-spacing: var(--number-letter-spacing);
  cursor: pointer;
}

.mainInfo__learning {
  width: var(--spacing-medium-24);
  height: var(--spacing-medium-24);
  margin-left: 8px;
  cursor: pointer;
}

.mainInfo__difference_container {
  display: flex;
  margin-top: 16px;
}

.mainInfo__difference_icon {
  width: var(--spacing-medium-16);
  height: var(--spacing-medium-16);
  background: url(./images/icons/icon_arrow-positive_up.svg) no-repeat center / contain;
  align-self: center;
}

.mainInfo__difference_summ {
  font-family: var(--main-font-family);
  font-size: var(--small-text-font-size);
  font-weight: var(--small-text-font-weight);
  line-height: var(--small-text-line-height);
  margin-left: var(--spacing-medium-16);
  font-variant-numeric: lining-nums proportional-nums;
}

.mainInfo__period_title {
  color: var(--color-shades-gray-300);
  font-family: var(--main-font-family);
  font-size: var(--small-text-font-size);
  font-weight: var(--small-text-font-weight);
  line-height: var(--small-text-line-height);
  margin: 8px 0 0;
}

.toolbar__histogram_category {
  margin: 12px auto 0;
  display: flex;
  justify-content: center;
  height: 16px;
}

.top__category {
  margin: 32px 0 0;
}

.top__category_title {
  font-size: var(--small-text-font-size);
  font-weight: var(--button-text-font-weight);
  line-height: var(--small-text-line-height);
}

.top__category_blocks {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
  margin: 16px auto 0;
}

.top__category_block {
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font-family);
  font-size: var(--small-text-font-size);
  font-weight: var(--small-text-font-weight);
  line-height: var(--small-text-line-height);
}

.beige {
  background-color: var(--color-main-beige);
}

.lightBrown {
  background-color: var(--color-accent-lightBrown);
}

.brown {
  background-color: var(--color-accent-brown);
  color: white;
}

.picture {
  margin: 38px auto 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.picture__button {
  height: 158px;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.picture__button_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.picture__button_title {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: var(--h3-font-size);
  font-weight: var(--paragraph-font-weight);
  line-height: var(--h3-line-height);
}

.footer {
  width: 366px;
  margin: 36px auto 0;
}