/* animation */
@keyframes rotation {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  50% {
    transform: rotate3d(1, 1, 0.5, 44deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0);
  }
}

.rotation {
  animation: rotation 5s ease-in-out infinite;
}
/* ---------------------------------------------- */

html {
  height: 100lvh;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: var(--spacing-medium-24);
  box-sizing: border-box;
  font-family: var(--main-font-family);
  background-color: var(--color-main-gray);
  color: var(--color-main-black);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hidden {
  visibility: hidden; /* скрыли временно элемент */
}

.header__icon-back {
  width: 40px;
  height: 40px;
  background: url(./images/icons/icon_back.svg) no-repeat center / contain;
}

.header__title {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
}

.header__icon-exit {
  width: 40px;
  height: 40px;
  background: url(./images/icons/icon_exit.svg) no-repeat center / contain;
}
/* ---------------------------------------------- */

.content {
  flex-grow: 1;
}

.content__onboarding {
  margin-block-start: var(--spacing-large-48);
}

.onboarding {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large-64);
}

.onboarding__picture {
  align-self: center;
  width: clamp(11.5rem, -8.5rem + 100vw, 29rem);
}

.onboarding__description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large-32);
}

.onboarding__description h2 {
  text-align: center;
  font-size: var(--big-text-bold-font-size);
  font-weight: var(--big-text-bold-font-weight);
  line-height: var(--big-text-bold-line-height);
}

.onboarding__description p {
  text-align: center;
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  line-height: var(--paragraph-line-height);
}

.onboarding__slider {
  width: 72px;
  height: var(--spacing-small-8);
  background: url(./images/elem1.svg) no-repeat center / contain;
  align-self: center;
}

.onboarding__slider_type_next {
  width: 72px;
  height: var(--spacing-small-8);
  background: url(./images/elem2.svg) no-repeat center / contain;
  align-self: center;
}

.onboarding__slider_type_finish {
  width: 72px;
  height: var(--spacing-small-8);
  background: url(./images/elem3.svg) no-repeat center / contain;
  align-self: center;
}

/* main-button */
.main-button {
  display: flex;
  justify-content: center;
  padding: 28px;
  background-color: var(--color-main-black);
  border-radius: 4px;
  text-decoration: none;
}

.main-button__text {
  color: var(--color-main-gray);
  font-size: var(--button-text-font-size);
  font-weight: var(--button-text-font-weight);
  line-height: var(--button-text-line-height);
}
/* ---------------------------------------------- */

/* card-item */
.card-item {
  padding: var(--spacing-medium-24);
  display: grid;
  grid-template-columns: min-content /*max-content*/ minmax(30%, 1fr) 1fr;
  gap: var(--spacing-medium-12);
  align-items: center;
  background-color: var(--color-shades-gray-100);
  border-radius: 4px;
}

.card-item__icon-arrow {
  width: var(--spacing-medium-16);
  height: var(--spacing-medium-16);
  background: url(./images/icons/icon_arrow-positive_up.svg) no-repeat center / contain;
  align-self: center;
}

.card-item__category {
  font-size: var(--small-text-font-size);
  font-weight: var(--small-text-font-weight);
  line-height: var(--small-text-line-height);
}

.card-item__total {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  font-variant-numeric: lining-nums proportional-nums;
  justify-self: end;
}
