@font-face {
  font-family: 'Cakra';
  src: 
    local('Cakra'),
    local('Cakra-Normal'),
    local('cakra'),
    url(./Cakra-Normal.woff2) format('woff2'),
    url(./Cakra-Normal.woff) format('woff'),
    url(./Cakra-Normal.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: 
    local('Raleway-Bold'),
    local('RalewayBold'),
    local('raleway-bold'),
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff'),
    url(./Raleway-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: 
    local('Raleway-SemiBold'),
    local('RalewaySemiBold'),
    local('raleway-semibold'),
    url(./Raleway-SemiBold.woff2) format('woff2'),
    url(./Raleway-SemiBold.woff) format('woff'),
    url(./Raleway-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: 
    local('Raleway-Regular'),
    local('RalewayRegular'),
    local('raleway-regular'),
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff'),
    url(./Raleway-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}