.menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large-64);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-medium-24);
  box-sizing: border-box;
  font-family: var(--main-font-family);
  background-color: var(--color-main-gray);
  color: var(--color-main-black);
  visibility: visible;
}